* {
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background: #1e1e1e;
    color: #ffffff;
}

#network, #tray {
    padding: 0 10px;
}

#workspaces button {
    color: #888888;
    background: transparent;
}

#workspaces button.focused {
    color: #ffffff;
    background: #3d3d3d;
	border-radius: 0px;
}
